{% extends "layout.html" %}
{% block body %}
<h1>Сайт: {{ site.name }}</h1>
            
<div class="table-responsive">
    <table class="table table-border table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ site.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ site.created_at.strftime('%Y-%m-%d') }}</td>
            </tr>
        </tbody>
    </table>
    
    <div></div>

    <h2 class="mt-5 mb-3">Проверки</h2>

    <form method="post" action="/urls/{{ site.id }}/checks">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>

    <div>
        <table class="table table-border table-hover mt-2" data-test="checks">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for check in checks %}
                    <tr>
                        <td>{{ check.id }}</td>
                        <td>{% if check.status_code is not none %}{{ check.status_code }}{% endif %}</td>
                        <td>{% if check.h1 is not none %}{{ check.h1 }}{% endif %}</td>
                        <td>{% if check.title is not none %}{{ check.title }}{% endif %}</td>
                        <td>{% if check.description is not none %}{{ check.description }}{% endif %}</td>
                        <td>{{ check.created_at.strftime('%Y-%m-%d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 {% endblock %}